fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart>=0.0.9
loguru>=0.7.2
pydantic-settings>=2.2.1
requests>=2.31.0
Pillow>=10.3.0
numpy>=1.26.0
ujson>=5.9.0
rich>=13.7.0
send2trash>=1.8.2
playsound==1.2.2
gitpython>=3.1.40
gradio-client>=1.0.0
brotli>=1.1.0
